/* General */
body {
    background-color: #fcfcfc;
    min-width: 768px;
}

body {
    margin: 0;
}

/* Intro */
.intro {
    width: 100%;
    height: 100vh;
}

/* Container */
.container {
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    max-height: 4000px;
    margin: 0 auto;
    /*border: 1px solid black; */
}

/* Header */
.header {
    width: 100%;
    height: 200px;
    /*border: 1px solid black; */
    
}

/* Header upper */
.header_upper {
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: top;
    padding: 0px 80px 0px 80px;
    /*border: 1px solid black; */
}

/* Logo */
.logo {
    color:white;
    font-size: 3em;
    -webkit-text-stroke: 0.5px black;
    text-shadow: #f75c49 -2px -0.5px
    /*text-shadow: black 1px 1px;*/
}

.logo:hover {
    text-shadow: #f75c49 -2px -0.5px, black 2px 0.5px;
}

/* Search bar */
.search-bar {
    height: 35px;
}

#search-input {
    width: 180px;
    height: 90%;
}
#search-input:hover{
    width: 480px;
}

.header_upper button {
    width: 80px;
    height: 100%;
    color: #f75c49;
    border: 1px solid #f75c49;
    background-color: #fcfcfc;
    font-weight: 650;
}
.header_upper button:hover{
    background-color: #f75c49;
    color:  #fcfcfc;
}



/* Header lower */
.header_lower {
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: bottom;
    padding: 0px 80px 0px 80px;
    /*border: 1px solid black; */
}

/* Nav */
.nav-bar {
    margin-left: 0px;    
} 

.nav-a {
    text-decoration: none;
    color: #f75c49;
    margin-right: 20px;
    font-size: 1.2em;
}

.nav-a:hover{
    color: #cc4836;
}


/* Add-teacher button */
.addTeacherButton {
    width: 145px;
    height: 45px;
    color: #f75c49;
    border: 1px solid #f75c49;
    background-color: #fcfcfc;
    font-size: 1.2em;
    font-weight: 750;
}
.addTeacherButton:hover{
    background-color: #f75c49;
    color:  #fcfcfc;
}

.header_line{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    padding: 0px 80px 0px 80px;
}
.mainRectangle{
    width: 500px;
	height: 1px;
	background: grey;
}

/* Header Top Teachers */
.headerTopTeachers {
    width: 100%;
    height: 600px;
    /*border: 1px solid black; */
}

.headerTopTeachers_upper {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: bottom;
    padding: 0px 80px 0px 80px;
    /*border: 1px solid black;  */
}

.headerText{
    font-size: 2em;
}

.headerTopTeachers_middle {
    height: 5%;
    display: flex;
    justify-content: start;
    align-items: center;
    vertical-align: bottom;
    padding: 0px 80px 0px 80px;
    /*border: 1px solid black; */ 
}

.mainGreyTxt{
    font-size: 0.7em;
    margin-right: 10px;
    color: grey;
}

.headerTopTeachers_middle select{
    margin-right: 10px;
    width: 75px;
}
.headerTopTeachers_middle vl{
    border-left: 2px dashed grey;
    height: 100%;
    margin-right: 10px;
}

.headerTopTeachers_middle input{
    color: white;
    border: 1px solid grey;
    display: block;
    margin-right: 10px;
    border-radius: 0;
    
}
.imgDiv{
    border: 4px solid#f75c49;
    width: 120px; 
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}
.imgDiv:hover{
    border: 4px solid#cc4836;
}
.imgCircle{
    border-radius: 50%;
    object-fit: cover;
    height: 120px;
    width: 120px;
   
}
.imgCircle:hover{
    transform: scale(1.1);
}  


.star{
    position: relative;
}

.starFive{
    color: yellow;
    position: absolute;
    top: -15px; right: 6px;
    transform: scale(2.5);

}



.headerTopTeachers_bottom_img{
    height: fit-content;
    flex-wrap: wrap;
    display: flex;
    justify-content: middle;
    align-items: center;
    vertical-align: bottom;
    padding: 0px;
    margin: 0px;
    padding: 0px 80px 0px 80px;
  
}

.figureCheck{
    height: fit-content;
    text-align: center;
    margin-right: 25px;
}

.subjectTxt{
    font-size: 0.7em;
    color: grey;
}
.countryText{
    font-size: 0.5em;
    color: grey;
}

.circleWithTxt {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #f75c49;
    margin: auto;
    text-align: center;
    line-height: 125px;
    color: #f75c49;
    font-weight: 700;
    font-size: 1.4em;
    
}
.circleWithTxt:hover {
    cursor: pointer;
    border: 4px solid #cc4836;
    color: #cc4836;
    font-size: 1.6em;
}
.circleWithTxt b{
    color: #f75c49;
}

/*Header Statistics*/
.headerStatistics {
    width: 100%;
    height: 600px;
}

.headerStatisticsDivLine{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    padding: 0px 80px 0px 80px;
    /*border:1px solid black;*/
}

.headerStatistics_upper {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: bottom;
    padding: 0px 80px 0px 80px;
    /*border: 1px solid black;  */
}

.headerStatistics_middle {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: bottom;
    padding: 0px 80px 0px 80px;
    /*border: 1px solid black;  */
}

.headerStatistics_middle table{
    width: 100%;
    text-align: center;
    border-collapse: collapse; 
}
.headerStatistics_middle tr td:first-child{
    text-align: left;
    padding: 10px;
    
}
.headerStatistics_middle tr th:first-child{
    text-align: left;
    padding: 20px;
}
.headerStatistics_middle table th{
    border-bottom: 1px solid black;
    font-size: 1.5em;
    font-weight: normal;
}
.headerStatistics_middle table th:hover{
    cursor: pointer;
    border-bottom: 4px solid black;
    background-color: #f3f3f3;
}

.headerStatistics_middle table th:after{
    content: " ↓";
    visibility: hidden;
}

.headerStatistics_middle table th:hover::after{
    visibility: visible;
    color: #1a9cb0;
}
#oddRow{
    background-color: #f9f5f9;
}

.headerStatistics_bottom {
    height: 5%;
    float: left;
    vertical-align: bottom;
    padding: 0px 80px 0px 80px;
}
.headerStatistics_bottom button {
    width: 30px;
    height: 30px;
    color: rgb(0, 191, 255);
    background-color: white;
    border: 0px;
    font-size: 0.8em;
}

.headerStatistics_bottom button:hover{
    color: blue;
}

/*Header Favorites*/
.headerFavorites {
    width: 100%;
    height: 350px;
    /*border: 1px solid black;*/
}

.headerFavorites_upper {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: bottom;
    padding: 0px 80px 0px 80px;
    /*border: 1px solid black; */ 
}
.headerFavorites_middle{
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    vertical-align: bottom;
    padding: 0px;
    margin: 0px;
    padding: 0px 20px 0px 20px;
    /*border: 1px solid black;*/
}
.headerFavorites_bottom{
    height: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: bottom;
    padding: 0px 80px 0px 80px;
    /*border: 1px solid black;*/
}

.arrow{
    transform: scale(5);
    color: grey;
    
}
.arrow:hover{
    color: black;
}

.leftArrow {
    border: solid grey;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 20px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-bottom: 15px;
    
}

.rightArrow {
    border: solid grey;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    
}
.leftArrow:hover{
    border: solid black;
}

.headerFinal {
    width: 100%;
    height: 250px;
    /*border: 1px solid black;*/
}
.headerFinal_upper{
    height: 70%;
    vertical-align: bottom;
    padding: 0px 80px 0px 80px;
    /*border: 1px solid black;*/
}

.headerFinal_grid{
    height: 30%;
    display: grid;
    justify-content: center;
    align-items: center;
    vertical-align: bottom;
    grid-template-columns: 9fr 1fr;
    padding: 0px 80px 0px 80px;
    /*border: 1px solid black;*/
}

/*popup*/
.overlay {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: bottom;
    padding: 0px;
    margin: 0px;
    padding: 0px 20px 0px 20px;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .popupInfoTeacher {
    background: #fff;
    width: 756px;
    height: 476px;
    justify-content: center;
    vertical-align: bottom;
  }
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .popupInfoTop {
    height: 10%;
    width: 94.8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: top;
    padding: 0px 20px 0px 20px;
    background-color: grey;
  }
  .popupInfoTop p{
    font-size: 1.5em;
    color: white;
  }
  .close {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }

.popupMiddle{
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    vertical-align: top;
}

  .popupInfo{
    height: 100%;
    padding: 0px 20px 0px 20px;
  }

  .popupInfoImg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: top;
    width: 40%;
  }
  .popupInfoTxt{
    width: 60%;
  }
  .popupInfo img{
    width: 100%;
    height: 90%;
  }
.teacherInfoHeader{
    font-size: 1.5em;
}
.teacherInfoSbjct{
    font-size: 1.2em;
}
.teacherInfoMail{
    color: blue;
    font-size: 0.8em;
}
.teacherInfoOther{
    font-size: 0.8em;
}
.popupBottom{
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    vertical-align: top;
    padding: 0px 20px 0px 20px;
}
.popupMap{
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    vertical-align: top;
    padding: 0px 20px 0px 20px;
}
.popupMap p{
    color: blue;
    border-bottom: dotted 1px blue;
}

/*popup2*/
.popupAdd {
    margin: 0;
    background: #fff;
    border-radius: 5px;
    position: relative;
    height: auto;
    width: 476px;
    overflow: scroll;
}

.popupAdd::-webkit-scrollbar {
    display: none;
}

.popupAdd-header {
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    background-color: #464547;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popupAdd-header h3 {
    font-size: 1.3em;
    padding-left: 17px;
}

.popupAdd-header .close {
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    padding-right: 17px;
}

/* Form container */
.form-container {
    margin: 0 30px;
}

.area {
    margin-top: 13px;
    vertical-align: middle;
}

.name-area {
    margin-top: 23px;
}

.area label {
    padding: 0;
    margin: 0;
    display: block;
    padding-bottom: 3px;
    color: #777777;
}

.area input, select {
    display: block;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
}

.four-divided {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
}

.gender-selection {
    margin-top: 20px;
    vertical-align: middle;
}

.gender-selection p {
    padding-right: 15px;
    display: inline;
    padding-bottom: 3px;
    color: #777777;
}

.color-selection {
    margin-top: 17px;
}

.color-selection label {
    padding-right: 30px;
    color: #777777;
}

.color-selection input {
    padding: 6px 4px;
}

.area textarea {
    width: 100%;
    height: 97px;
}

button[type='reset'] {
    display: block;
    margin-top: 33px;
    margin-bottom: 13px;
    height: 50px;
    width: 100%;
    color: #f75c49;
    border: 1px solid #f75c49;
    background-color: #ffffff;
    font-weight: 700;
    font-size: 1.2em;
    transition: 0.5s;
}

button[type='reset']:hover {
    cursor: pointer;
    background-color: #f75c49;
    color: #fcfcfc;
}

@media screen and (max-width: 768px) {
    body {
      /*background-color: #EE4266; /* Красный фон */
      margin: 0;
    }
    .container {
        width: 100%;
        height: 100vh;
        max-width: 500px;
        max-height: 12000px;
        margin: 0 auto;
        
    }
    .header_upper {
        padding: 0px 20px 0px 20px;
        /*border: 1px solid black; */
    }
    .logo{
        font-size: 2em;
    }
    .search-bar {
        height: 35px;
    }
    
    #search-input {
        width: 80px;
        height: 90%;
    }
    #search-input:hover{
        width: 180px;
    }
    .header_lower {
        padding: 0px 20px 0px 20px;
        /*border: 1px solid black; */
    }
    .nav-a {
        margin-right: 10px;
        font-size: 1em;
    }
    .addTeacherButton {
        width: 120px;
        height: 45px;
        
        font-size: 1em;
    }
    .headerTopTeachers {
        width: 100%;
        height: 700px;
        /*border: 1px solid black;*/ 
    }
    .headerTopTeachers_upper {
        padding: 0px 20px 0px 20px;
        /*border: 1px solid black;  */
    }
    .headerText{
        font-size: 1.5em;
    }
    .headerTopTeachers_middle {
        padding: 0px 20px 0px 20px;
        flex-wrap: wrap;
        /*border: 1px solid black; */ 
    }
    .mainGreyTxt{
        font-size: 0.5em;
        margin-right: 5px;
        color: grey;
    }
    .headerTopTeachers_middle select{
        margin-right: 5px;
        font-size: 0.6em;
        width: 50px;
    }
    .headerTopTeachers_middle vl{
        margin-right: 5px;
    }
    .headerTopTeachers_bottom_img{
        padding: 0px 20px 0px 20px;
        flex-wrap: wrap;
    }
    .figureCheck{
        text-align: center;
        
    }
    .imgDiv{
        border: 2px solid#f75c49;
        width: 75px; 
        height: 75px;
    }
    .imgCircle{
        height: 75px;
        width: 75px;
    }
    .circleWithTxt {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        border: 4px solid #f75c49;
        margin: auto;
        text-align: center;
        line-height: 75px;
        color: #f75c49;
        font-weight: 700;
        font-size: 1em;
    }
    .starFive{
        transform: scale(1.5);
    }
    .figureCheck b{
        font-size: 0.8em;
    }
    .headerStatistics{
        height: 600px;
    }
    .headerStatistics_middle table th{
        font-size: 1.5em;
    }
    .headerStatistics_upper{
        height: 5%;
    }
    .headerStatistics_middle table th:after{
        content: "";
        visibility: hidden;
    }
    .headerStatistics_middle{
        height: 75%;
        padding: 0px 20px 0px 20px;
    }
    .headerStatistics_bottom {
        height: 5%;
        padding: 0px 20px 0px 20px;
    }
    .headerFavorites{
        height: 500px;
        flex-wrap: wrap;
    }
    .headerFavorites_upper{
        padding: 0px 20px 0px 20px;
    }
    .arrow{
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(0.005);
    }
    .headerFinal{
        height: 350px;
    }
    .headerFinal_upper{
        padding: 0px 20px 0px 20px;
    }
    .headerFinal_grid{
        padding: 0px 20px 0px 20px;
    }
  }